:root {
  --templatecolor1: #0b1320;
  --templatecolor2: #1c3f60;
  --templatecolor3: #afc1d0;
  --templatecolor4: #f3f6fa;
  --teks-landingpage-color: #000000;
}

/* Atur box-sizing untuk semua elemen */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Definisikan font family untuk body */
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

/* Mengatur list style untuk elemen li */
li {
  list-style-type: none;
  padding: 10px 30px;
}

/* Menghilangkan dekorasi pada tautan (anchor) */
a {
  text-decoration: none;
}

/* Styling untuk Navbar */
.navbar-container {
  width: 100vw;
  height: 120px;
  background-color: var(--templatecolor1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Styling untuk Logo */
.logo {
  margin: 30px 30px;
  color: var(--templatecolor4);
  font-family: "Lexend Exa", sans-serif;
  font-size: 16px;
}

/* Styling untuk Nav List */
.nav-list ul {
  display: flex;
  flex-direction: row;
}
.nav-list ul li {
  font-family: "Montserrat", sans-serif;
}
.nav-list ul li a {
  color: var(--templatecolor3);
}

/* Styling untuk Profile Sign */
.profile-sign ul {
  padding: 0;
  display: flex;
  flex-direction: row;
}
.profile-signup-button,
.profile-signin-button {
  border-radius: 16px;
  padding: 10px 20px;
  margin-right: 10px;
  font-family: "Montserrat", sans-serif;
}
.profile-signup-button {
  background-color: var(--templatecolor4);
}
.profile-signin-button {
  background-color: var(--templatecolor3);
}
.profile-signup-button a {
  color: var(--templatecolor2);
}
.profile-signin-button a {
  color: var(--templatecolor1);
}
/* Header  End*/

/* Pembagian body menjadi 2 antara sidebar(aside) dan main  */
.body-container {
  width: 100vw;
  display: flex;
  flex: 1; /* Mengisi ruang yang tersedia di body-container */
  height: calc(
    100vh - 120px
  ); /* Mengurangi tinggi navbar dari tinggi viewport */
  overflow-x: none;
}

/*2. Aside Start */
aside {
  flex: 0 1 20%; /* Mengisi 20% lebar */
  position: sticky;
  top: 120px; /* Menggeser aside agar tidak tertutup navbar */
  background-color: var(--templatecolor2);
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.sidebar ul li {
  /* Mengatur box dengan radius sudut pada sidebar */
  width: 300px;
  height: 60px;
  border-radius: 16px;
  /* Memberikan warna latar belakang */
  background-color: var(--templatecolor3);
  /* mengatur format */
  padding: 20px;
  margin: 40px 40px 40px 0px;
}
.sidebar ul li a {
  font-size: 1.6em;
  color: var(--templatecolor1);
}
/* Aside End */

/*3. Main Start */
main {
  flex: 0 0 80%; /* Mengisi 80% lebar */
  background-color: var(--templatecolor4); /* Warna latar belakang main */
  display: flex;
  flex-wrap: wrap;
}
/*3.1 Landing Page Start */
.landing-page {
  margin: 1em;
  flex: 0 1 100%;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

/* Landing Page End */

/*3.2 Destiny Flow Landing Page Start */

/* Destiny Flow Landing Page End */
/* Main End */
