:root {
  --templatecolor1: #0b1320;
  --templatecolor2: #1c3f60;
  --templatecolor3: #afc1d0;
  --templatecolor4: #f3f6fa;
  --teks-landingpage-color: #000000;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Lexend Exa", sans-serif;
  font-family: "Montserrat", sans-serif;
}
